@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar&family=Noto+Serif+Myanmar&display=swap');
*{
    padding: 0; margin: 0;
    text-decoration: none;
}
.bb{
    margin-bottom: 100px;
}
html{
    /* font-family: 'Pacifico', 'cursive'; */
    /* font-family: 'Noto Serif Myanmar', serif; */
    /* font-family: 'Noto Sans Myanmar', sans-serif; */
}
.btn_js{
    border: 0;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}

.logo_text{
    font-family: 'Pacifico', 'cursive';
    font-size: 14px;
}
.menu_ibox{
    color: #fff;
}
.list_cover{
    font-family: 'Noto Serif Myanmar', serif;
}
.list_a{
    color:#fff;
    font-size: 13px;
}


.hero_text{
    font-family: 'Noto Sans Myanmar', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 160%;
}
.hero_title{
    font-family: 'Pacifico', 'cursive';
}
.jewe_price{
    font-family: 'Noto Sans Myanmar', sans-serif;
    color: #555;
    font-size: 13px;
    text-align: center;
}
.card-body{
    padding: 7px 3px 8px 3px !important;
}
.card{
    border: 0;
}
.img_cover_slick{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
.dprice_p{
    font-size: 24px;
    color: #f57224;
    font-weight: bolder;
    margin-bottom: 7px;
}
.aa{
    /* container-fulid-fix */
    padding: 0 20px !important;
}
.bb{
    /* background-color: black; */
}
.dprice_div{
    padding: 20px;
}

.dprice_title{
    font-size: 18px;
    color: #555;
    font-family: 'Noto Serif Myanmar', serif;
}
.pp{
    padding: 0 !important;
}
.ppp{
    padding-right: 0.1px !important;
}
.gcolor{
    color: #555;
}

